.bg-1 {
    background: #e8e8e8;
}
.bg-2 {
    background: #f05454;
}
.bg-3 {
    background: #30475e;
}
.bg-4 {
    background: #222831;
}


.btn {
    background: #30475e;
    color:#f05454;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

h1,h2,h3{
    color: #f05454;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-radius: 16px;
    
}

div{
    background-color:  #e8e8e8;
    border-radius: 16px;
    color: #f05454;
    text-align:center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
}

.badge {
    background-color: #e8e8e8;
    color: #30475e;
}



